*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #E5E5E5;
    font-family: sans-serif;
}
.content-page{
    display: flex;
    height: 100vh;
    width: 100%;
    position: relative;
}
.a-alura{
    font-size: 44px;
    position: absolute;
    left: 1%;
    right: 0;
    top: 0%;
    bottom: 0%;
    color: #0A3871;
    z-index: -1;
}
.introducir{
    width: 55%;
    height: 830px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.campo-texto{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
}
.textarea{
    background: transparent;
    border: none;
    color: #0A3871;
    width: 100%;
    height: 300px;
    font-size: 32px;
    resize: none;
    font-weight: 400;
}
.textarea::placeholder{
    color: #0A3871;
}
.content-dos-botones{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: 156px;
    justify-content: space-evenly;
}
.icon{
    width: 16px;
    height: 16px;
    color: #495057;
    margin-right: 5px;
    /* border-radius:50%; */
}
.adver-info{
    color: #495057;
}
.botones{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.encriptar{
    background-color: #0A3871;
    color: #fff;
    height: 67px;
    width: 328px;
    border-radius:24px ;
    font-size: 24px;
}
.desencriptar{
    height: 67px;
    width: 328px;
    border-radius:24px ;
    font-size: 24px;
    background-color: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
}
.mensaje-encriptado{
    margin: auto;
    background-color: #fff;
    width: 400px;
    height: 944px;
    border-radius:32px ;
}
